.green {
    color: green;
}

.red {
    color: red;
}

.grey {
    color: gray;
}

.cut-text{
    text-decoration: line-through;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: 550px;
    margin: auto;
}
